.animate-150 {
  -webkit-transition:0.15s;
  -moz-transition:0.15s;
  -o-transition:0.15s;
  transition:0.15s;
}
.animate-300 {
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  transition:0.3s;
}

.animationNone {   
  -webkit-transition:none !important;
  -moz-transition:none !important;
  -o-transition:none !important;
  transition:none !important;
}

.animationWrapper * :not(.notAnimated *){
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}